* {
	margin: 0;
	padding: 0;
}

html, body{
	height: 100%;
	font-family: Raleway;
}

body{
	/*background-image: url('pics/flag.jpg');
	background-repeat: no-repeat;
	background-size: cover;*/
}

a{
	text-decoration: none;
}
/*End of header */

#entire{
	padding-top: 40px;
}

#content{
	/*text-align: center;*/
	padding: 50px 10px 8px 160px;
	height: 100%;
	/*background-color: gray;*/
	/*margin: 10px 50px 10px 50px;*/
}

#content h1{
	font-size: 30px;
	display: inline-block;
	/*padding: 5px 0px 5px 110px;*/

}



/*Forms */
#forms{
	padding: 10px 0 10px 0;
}

.name_box, .email_box, .message_box, .send_button{
	margin: 10px 0px 0px 0px;
	padding: 20px;
	font-size: .875em;
	font-family: Raleway;
}

.name_box, .email_box{
	width: 30%;
}

.message_box{
	width: 64.5%;
}

.send_button{
	/*width: 100px;*/
	background-color: rgb(0, 38, 100);
	border: none;
	cursor: pointer;
	letter-spacing: .2em;	
	text-transform: uppercase;
	font-weight: 300;
	color: yellow;
}

.send_button:hover{
	background-color: rgba(72, 114, 181, 0.9);
	color: yellow;
}

.send_button:active{
	top: 5px;
	/*not working*/
}

.send_button{
	width: 33.5%;
}


@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: local('Raleway'),url(//brick.a.ssl.fastly.net/fonts/raleway/300.woff) format('woff');
}