* {
	margin: 0;
	padding: 0;
	font-family: Raleway;
}

.navbar{
	/*background-color: rgba(101, 131, 180, 0.7);*/
	background-color: #1C86EE;
	padding-left: 140px;
	padding-right: 0px;
	margin: 0;
	position:fixed;
	width: 100%;
	z-index: 1;
}

.navbar a:hover{
	background-color: rgba(72, 114, 181, 0.9);
}

#logo{
	
	padding: 0;
	text-align: center;
}

#left{
	float: left;
	text-decoration: none;
	padding: 20px;
	/*display: block;*/
	color: white;
	font-size: 25px;
	/*margin-top: 0;*/
}

#nav{
	float: left;
	padding-left: 120px;
	text-align: center;
	margin-right: 20px;
	height: 69px;
}

#navlink{
	float: right;
	padding: 20px;
	padding-top: 20px;
	text-decoration: none;
	color: white;
	font-size: 25px;
}

#entire{
	padding: 70px 0px 400px; 
	background-image: url("pics/stock/stock_first.jpg");
	width: 100%;
	background-size: cover;
	color: white;
}

/*#part_one{
	display: block;
	display: absolute;
}*/

#block{
	text-align: center;
}

#block h1{
	font-size: 80px;
	margin-top: 130px;
}

#block h2{
	text-align: center;
}

#intro{
	text-align: center;
	margin: 50px 0;
	padding: 0 200px;
}

#intro h3{
	line-height: 2;
	/*max-width: 80%;*/
	margin: 0 0;
	padding: 0 50px;
}

#descriptions{
	position: absolute;
	display: block;
}

#row{
	float: left;
	text-align: center;
}

#col {
	position: relative;
	height: 400px;
	width: 650px;
	float: left;
	margin: 7px;

	-moz-transition: all 4s ease; /* Firefox */
    -webkit-transition: all 4s ease; /* Safari and Chrome */
    -o-transition: all 4s ease; /* Opera */
    transition: all 4s ease;
}

#col img{
	height: 400px;
	width: 650px;
}

.over{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 350px 0 0 0;
	/*background: rgba(29, 120, 154, .4);*/
	color: #fff;

	visibility: hidden;
	opacity: 0;
}

#one{
	background: rgba(29, 120, 154, .4);
}
#two{
	background: rgba(255, 228, 181, .4);
}
#three{
	background: rgba(205, 201, 201, .4);
	color: black;
}
#four{
	background: rgba(138, 43, 226, .4);
}

#col:hover .over{
	visibility: visible;
	opacity: 1;
}

/*Footer*/
#description2{
	background-color: #1C86EE;
	color: white;
	overflow: hidden;
	font-family: Raleway;
	padding: 0px 100px 100px 100px;
	color: black;
}

.content{
	padding: 50px 80px 150px 80px;
}

.text{
	float: left;
	display: block;
	text-align: left;
	max-width: 50%;
	color: white;
}

.kamusta{
	font-size: 50px;
	margin: 0;
	padding: 0;
}

.miniTranslate{
	margin: 0;
	padding: 0;
}

.kamusta_desc{
	padding-top: 30px;
	letter-spacing: .05em;
	line-height: 1.5;
}

.icons{
	float: left;
	margin-left: 50px;
	font-size: 20px;
	color: white;
}

#subscribing{
	display: block;
}

.rectangle{
	padding: 20px;
	font-size: .875em;
	color: black;
	border: 1px solid #1C86EE;
	background-color: #60AAF3;
}

::-webkit-input-placeholder{
	color: black;
}

:-moz-placeholder{
	color: black;
}

::-moz-placeholder{
	color: black;
}

:-ms-input-placeholder{
	color: black;
}

.butt{
	width: 150px;
	height: 55px;
	padding: 0px;

	background: yellow;
	border: none;
	cursor: pointer;
	font-family: Raleway;
	text-transform: uppercase;
	letter-spacing: .2em;
	line-height: 18px;
	font-weight: 300;
}


@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: local('Raleway'),url(//brick.a.ssl.fastly.net/fonts/raleway/300.woff) format('woff');
}