body{
	margin: 0;
	padding: 0;
}

.entire{
	text-align: center;
	width: 80%;
	padding: 10px;
	margin: 0 auto 0 auto;
}

.title{
	text-align: center;
}

#settings{
	width: 50px;
	height: 50px;
	display: block;
	line-height: 45px;
	margin: 0 auto;
	border: 2px solid #f5f5f5;
	border-radius: 50%;
	color: #f5f5f5;
	text-align:center;
	text-decoration: none;
	background: #464646;
	box-shadow: 0 0 3px gray;
	font-size: 20px;
	font-weight: bold;
}

#settings:hover{
	background: #262626;
	cursor: pointer;
}

.topButtonsBox{
	/*border: 1px solid black;*/
	overflow: auto;
	width: auto;
	position: center;
	margin-left: auto;
	margin-right: auto;
}

.first{
	/*float: left;*/
	margin-left: auto;
	/*margin-left: 400px;
	margin-right: 1px;
	margin-top: 5px;
	margin-bottom: 1px;*/
}

.second{
	/*float: right;*/
	margin-right: auto;
	/*margin-right: 400px; 
	margin-top: 5px;
	margin-bottom: 5px;*/
}

#play, #other{
	background-color: #470047;
	color: #fff;
	font-size: 26px;
	width: 140px;
	height: 42px;
	border-radius: 20px;
	border: 0;
	line-height: 30px;
}

#play:hover, #other:hover{
	cursor:pointer;
	background-color: #6C336C;
}






