*{
	margin: 0;
	padding: 0;
}

.bios{
	background-color: white;
	/*background-color: rgb(0,38,100);*/
	color: rgb(0, 38, 100);
}

.rowCol{
	text-align: center;
	max-width: 80%;
	margin: 100px auto;
}

.pic, .individual{
	display: inline;
}

.pic{
	float: left;
	margin-right: 3%;
}

.pic img{
	width: 250px;
	height: auto;
}

.individual{
	text-align: left;
	max-width: 80%;
}

.individual h1, .individual h2, .individual p{
	padding-left: 30px;
}

.individual p{
	/*color: #d2e0ff;*/
	color: rgb(96, 96, 96);
}

.individual h2{
	color: rgb(32, 32, 32);
}

.individual h1{
	padding: 20px 0 0 0;
	color: rgb(32, 32, 32);
}

.individual h2{
	margin: 3px 0;
}

.individual p{
	margin: 5px 0 0 0;
	padding-bottom: 100px;
	line-height: 1.5;
}

.hidden_fact{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	color: rgb(0, 38, 100);
	max-width: 50%;
	
	line-height: 1.5;
	opacity: 0;
	transition: .5 all ease-in-out;
}

.pic:hover .hidden_fact{
	opacity: 1;
}
/*
#shorter{
	padding-bottom: 120px;
}*/