*{
	margin: 0;
	padding: 0;
}

.fourth ul{
	text-align: center;
}

.box{
	display: inline-block;
	position: relative;
	height: 550px;
	width: 400px;
	margin: 250px 0 0 0;
	vertical-align: middle;
}

.officerPic{
	margin: 0 0 0 0;
	width: 400px;
	float: left;
	display: inline;
}

#rectBox{
	height: 550px;
}

#rectBox2{
	height: 600px;
}

#squareBox{
	height: 420px;
}

#wideBox{
	height: 300px;
}

#smidgeLarge{
	height: 460px;
}

#tadSmall{
	height: 380px;
}

.officerPic img{
	width: 400px;
	height: auto;
	display: inline;
}

.officerPicCap{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color: blue;
	/*max-width: 40%;*/
	text-align: center;
	font-size: 18px;
	opacity: 0;
	transition: .5s all ease-in-out;
	
}

.box:hover .officerPicCap{
	opacity: 1;
}

#rectangle{
	padding: 110px;
	/*background-color: rgba(0, 0, 0, 0.4);*/
}

#square{
	padding: 50px;
	/*background-color: rgba(0, 0, 0, 0.4);*/
}

.underPic{
	display: block;
	float: left;
	
}