body{
	padding: 0;
	margin: 0;
}

li{
/*	display:inline;*/
	font-size: 25px;
}

a{
	text-decoration: none;
	transition: all 1s ease-in-out;
}

.navbar{
	/*background-color: rgba(101, 131, 180, 0.7);*/
	background-color: rgb(20, 30, 179);
	padding-left: 200px;
	padding-right: 0px;
	margin: 0;
	position:fixed;
	width: 100%;
	z-index: 1;

}

.navbar a:hover{
	background-color: rgba(72, 114, 181, 0.9);
	color: black;
}

#logo{
	
	padding: 0;
	text-align: center;
}

#left{
	float: left;
	text-decoration: none;
	padding: 20px;
	display: block;
	color: white;
	font-family: Raleway;
	font-size: 25px;
	/*margin-top: 0;*/
}

#nav{
	float: left;
	padding-left: 120px;
	padding-right: 300px;
	text-align: center;
	margin-right: 20px;
	height: 69px;
}

#navlink{
	float: right;
	padding: 20px;
	padding-top: 20px;
	text-decoration: none;
	color: white;

	font-family: Raleway;
	font-size: 18px;
}


#preback{
	font-family: Raleway;
	background-color: rgb(20,80,179);
	color: white;
	height: 800px;
	padding-top: 130px;
	padding-left: 200px;
	padding-right: 200px;
}

#leftTitle{
	float: left;
}

#exp{
	float: left;
	margin: 65px 0 0 10px;
}

.mabuhay{
	font-size: 80px;
	margin-top: 0px;
}

.weare{
	font-size: 40px;
}

.stylizedfasa{
	color: #FFFD6A;
}

#red{
	color: #FF6961;
}

#prepara{
	margin-top: 80px;
	font-size: 20px;
}

#anim{
	color: yellow;
	font-size: 40px;
}

#FASA{
	background:url('pics/rock.jpg') 50% 0 no-repeat fixed;
	color: #fff;
	height: 600px;
	margin: 0;
	padding: 200px 0 260px 0;
	padding 30px;
	background-size: cover;
}

#description{
	background-color: #f2f2f2;
	color: #333333;
	margin: 0 auto;
	overflow: hidden;
	display: table;
	font-family: Raleway;
	font-size: 30px;
}

.intro{
	text-align: center;
	display: block;
	margin: 0;
	padding: 100px 50px 130px 50px;
}

#heading{
	max-width: 80%;
	margin: 0 200px;
	line-height: 1.5;
}

.activities{
	display: block;
	margin: 0;
	padding: 0;
}

.activities ul{
	list-style: none;
	display: block;
	margin: 0;
	padding: 0;
}

.act{

}

.act_one{
	
	/*margin-right: 50%;*/
	/*background: url('pics/dance.jpg');*/

	background-size: 100%;
	width: 50%;
	height: 380px;
}

#one{
	background-image: url('pics/dance.jpg');
	float: left;
}
#two{
	background-image: url('pics/sports.jpg');
	float: right;
}
#three{
	background-image: url('pics/pcn.jpg');
	float: left;
}
#four{
	background-image: url('pics/food.jpg');
	float: right;
}
#five{
	background-image: url('pics/happy.jpg');
	float: left;
}
#six{
	background-image: url('pics/service.jpg');
	float: right;
}
#seven{
	background-image: url('pics/ut.jpg');
	float: left;
}
#eight{
	background-image: url('pics/eboard.jpg');
	float: right;
}

.act_desc_box{
	top: 0;
	z-index: 5;
	padding: 20px;
}

.act_desc, .act_capt{
	color: white;
}

.act_desc_box h6, .act_capt_box h6{
	margin: 0;
	padding: 0;
}

.act_capt_box{
	padding: 250px 10px 10px;
	color: white;
	text-align: center;
	opacity: 0;
	transition: all .2s ease-in-out;
}

.act_one:hover, .act_capt_box{
	opacity: .9;
}


#FASA2{
	/*background: url('http://animal-medical-clinic.com/wp-content/uploads/2014/03/So-cute-puppies-14749028-1600-1200.jpg') 50% 0 no-repeat fixed;*/
	background: url('sports.jpg') 10% 0 no-repeat fixed;
	color: #fff;
	height: 800px;
	padding: 30px;
	background-size: cover;
}

#description2{
	background-color: #1C86EE;
	color: white;
	overflow: hidden;
	font-family: Raleway;
	padding: 0px 100px 100px 100px;
	color: black;
}

.content{
	padding: 50px 80px 150px 80px;
}

.text{
	float: left;
	display: block;
	text-align: left;
	max-width: 50%;
	color: white;
}

.kamusta{
	font-size: 50px;
	margin: 0;
	padding: 0;
}

.miniTranslate{
	margin: 0;
	padding: 0;
}

.kamusta_desc{
	padding-top: 30px;
	letter-spacing: .05em;
	line-height: 1.5;
}

.icons{
	float: left;
	margin-left: 50px;
	font-size: 20px;
	color: white;
}

#subscribing{
	display: block;
}

.rectangle{
	padding: 20px;
	font-size: .875em;
	color: black;
	border: 1px solid #1C86EE;
	background-color: #60AAF3;
}

::-webkit-input-placeholder{
	color: black;
}

:-moz-placeholder{
	color: black;
}

::-moz-placeholder{
	color: black;
}

:-ms-input-placeholder{
	color: black;
}

.butt{
	width: 150px;
	height: 55px;
	padding: 0px;

	background: yellow;
	border: none;
	cursor: pointer;
	font-family: Raleway;
	text-transform: uppercase;
	letter-spacing: .2em;
	line-height: 18px;
	font-weight: 300;
}

#FASA3{
	background: url('pics/place.jpg') 10% 0 no-repeat fixed;
	color: #fff;
	height: 800px;
	padding: 30px;
	background-size: cover;
}

/*  FOOTER  */
footer{
	width: 100%;
	position: absolute;
	margin: 0 auto;
	padding: 0;
	background-color: #1C86EE;
	color: white;
	/*display: block;*/
	font-family: Raleway;

}

.footer li{
	list-style-type: none;
}

.col2{
	/*float: center;*/
	/*margin-left: 300px;
	padding-left: 500px;*/
	/*display: block;*/
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

.conLinks{
	text-decoration: none;
	color: white;
	font-size: 18px;
}

.conLinks:hover{
	color: black;
}

#contact{
	display: inline;
	list-style-type: none;
	padding: 0;
}

#contact li{
	display: inline;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: local('Raleway'),url(//brick.a.ssl.fastly.net/fonts/raleway/300.woff) format('woff');
}
