/*Reset CSS*/
*{
	margin: 0;
	padding: 0;
}

.wrapper{
	margin-top: 50px;
	max-width: 620px;
	height: auto;
}

.box{
	display: inline-block;
	position: relative;
	width: 200px;
	height: 200px;
	background: #FCC;
	z-index: 0;
	margin: 2px 2px 2px 2px;
	transition: all .5s ease-in-out;
	text-align: center;
	vertical-align: middle;
}

.box a{
	display: block;
	/*margin: 10px 0 0 0;*/
	padding: 90px 40px;
	background-color: yellow;
}

.box a:hover{
	background-color: gray;
}

.box:hover{
	background: white;
	z-index: 100;
	transform: scale(1.1,1.1);
	box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
}