*{
	margin: 0;
	padding: 0;
	font-family: Raleway;
}

a{
	text-decoration: none;
	color: black;
}

header{
	border: 1px solid #999;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	background: white; 
	color: black;
	width: 180px;
	padding: 0px;
	z-index: 100;
}

#logo{
	margin: 10px 0 20px 5px;
	width: 79px;
	height: 43px;
}

#menu-icon{
	display: hidden;
	width: 40px;
	height: 40px;
	background: url(favicon.png) center;
}

a:hover#menu-icon{
	border-radius: 4px 4px 0 0;
}

header ul{
	list-style-type: none;
}

header ul li{
	border-bottom: 1px solid gray;
	margin: 0;
	padding: 10px 0 10px 8px;
}

header ul li img{
	width: 18px;
	height: 18px;
	padding: 2px 5px 0 0;
}

header ul li:hover{
	background-color: rgb(150,150,150);
	cursor: pointer;
}

.last_list{
	border-bottom: 0;
}

/*Media QUERY*/
/*@media only screen and (max-width : 640px){
	header {
		position: absolute;
	}
	
	#menu-icon{
		display: inline-block;
	}
	
	nav ul{
		display: none;
		position: absolute:
		background: #fff;
		left: 20px;
		top: 60px;
		width: 100%;
		
	}
	
	nav:active ul{
		display: block;
		transition: all .15s ease-in-out;
	}
}*/
/* Content */

#content{
	border: 1px solid red;
	margin: 0 0 50px 182px;
	height: 100%;
	background-color: white;
}

#main{
	margin: 10px 0 10px 30px;
}

#main h1{
	font-size: 40px;
}

.news_list{
	padding: 10px 0 0 30px;
}


/*Tiles Code*/
.wrapper{
	margin-top: 50px;
	/*max-width: 620px;*/
	height: auto;
}

.box{
	display: inline-block;
	position: relative;
	width: 200px;
	height: 200px;
	background: #FCC;
	z-index: 0;
	margin: 20px 2px 2px 2px;
	transition: all .15s ease-in-out;
	text-align: center;
	vertical-align: middle;
}

.box a{
	display: block;
	/*margin: 10px 0 0 0;*/
	padding: 90px 40px;
	color: yellow;
	background-color: blue;
}

.box h3{
	font-size: 24px;
}

.box a:active{
	background-color: blue;
}

.box:active{
	background: white;
	z-index: 100;
	transform: scale(1.1,1.1);
	box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
}
/*End of tiles code*/
footer{
	border: 1px solid blue;
	width: 100%;
	background-color: #ddd;
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: local('Raleway'),url(//brick.a.ssl.fastly.net/fonts/raleway/300.woff) format('woff');
}